<h1>{{heroe.nombre | uppercase}} <small>{{heroe.aparicion | date:'yyyy'}}</small></h1>
<!-- datePIe https://angular.io/api/common/DatePipe -->

<hr>
<div class="row animated fadeIn fast">

  <div class="col-md-4">
    <img [src]=heroe.img [alt]=heroe.nombre class="img-fluid">
    <br><br>
    <div class="d-grid gap-2">
      <a [routerLink]="['/heroes']" class="btn btn-outline-danger">Regresar a Heroes!</a>
    </div>
  </div>

  <div class="col-md-8">
    <h3>{{heroe.nombre}}</h3>
    <hr>
    <p>{{heroe.bio}}</p>
    <div>
      <img *ngIf="heroe.casa=='Marvel'" src="assets/image/marvel.png" alt="">
      <img *ngIf="heroe.casa=='DC'"src="assets/image/dc.png" alt="">
      <!-- si es dc aparezca img d dc o si es marvel d marvel -->
    </div>
  </div>
</div>
